<!DOCTYPE html>

<html>

<head>
<title>DevBlog Edit</title>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/index.css"/>
<link rel="stylesheet" type="text/css" href="css/editor-style.css"/>

</head>

<body ng-controller="mainController" id="mainController" ng-app="devblogeditor">
	<center>
		<div id="navBar">
		<h1>logged in as <bold>{{ user.username }}</bold></h1>
			<ul>
				<li><a href="#newpost" ng-click="setCurrentPost(undefined)">New</a></li>
				<li><a href="#allposts">All posts</a></li>
				<li><a href="#settings">Settings</a></li>
				<li><a href="#invite">Invite</a></li>
				<li><a href="/logout">Log out</a></li>
			</ul>
		</div>
	</center>

	<p id="notify" class="good">Notifee</p>

	<form id="formEdit" class="page" data-name="newpost" ng-submit="submitForm()">
	<input type="text" id="inputTitle" name="title" placeholder="Title" ng-model="currentPost.title" required/>
	<textarea ui-tinymce name="content" ng-model="currentPost.content"></textarea>
	<input type="submit" name="bntSubmit" value="Save"/>
	</form>

	<form id="formPostImage" class="page" data-name="newpost" method="POST" enctype="multipart/form-data" action="/api/upload">
	<input type="file" name="userPhoto"/>
	<input type="submit" name="btnSubmitImage" value="Upload"/>
	</form>

	<div class="page" data-name="allposts">
		<div class="postWrapper" ng-repeat="post in posts" data-name="allposts">
		<div class="info">
			<span><b>{{ post.title }}</b></span>
			<img src="../img/ic_access_time_black_24px.svg"/>
			<span>{{ post.date | date }}</span>
		</div>
		<div class="buttons">
			<img ng-click="deletePost(post)" src="../img/ic_delete_black_24px.svg"/>
			<img onclick="showPage('newpost')" ng-click="setCurrentPost(post)" src="../img/ic_edit_black_24px.svg" />
		</div>
		</div>

	</div>


	<div class="page" data-name="settings">
		<h1>Settings</h1>
		<form id="formSettings">
		<img src="../img/ic_edit_black_24px.svg" ng-click="settingsBeingUpdated = !settingsBeingUpdated" ng-show="!settingsBeingUpdated" />
		<label for="username">Username: </label>
		<input type="text" name="username" required placeholder="Username" ng-disabled="!settingsBeingUpdated" ng-model="tempSettings.username" />
		<label for="email">Email: </label>
		<input type="email" name="email" required placeholder="Email" ng-disabled="!settingsBeingUpdated" ng-model="tempSettings.email" />
		<input type="button" value="Save" ng-show="settingsBeingUpdated" />
		<input type="button" value="Cancel" ng-click="settingsBeingUpdated = false; tempSettings = undefined" ng-show="settingsBeingUpdated" />
		</form>
	</div>

	<div class="page" data-name="invite">

	<h1>Invite a friend</h1>
	<p>You may invite your friend or maybe an enemy to use this blog with you. Just press the button below to generate a link. Then send it to your partner and you will be ready to write together!</p>
	<form>
	<input type="button" class="small" ng-click="generateInvitation()" id="btnCreateInvitationKey" value="Create key" ng-show="invitationKey.key == undefined" />
	<input type="text" id="inputInviteKey" ng-show="invitationKey.key != undefined" placeholder="Key will be here" value="http://b-boys.xyz/register?invitationKey={{ invitationKey.key }}">
	</form>
	</div>


</body>

<script src="js/angular/angular.min.js"></script>
<script src="js/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="bower_components/tinymce-dist/tinymce.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>

<script src="js/angular/main-editor.js"></script>

<script src="js/editor.js"></script>

</html>