<!DOCTYPE html>

<html>

<head>
<title>B-Boys</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
<link rel="stylesheet" type="text/css" href="css/index.css"/>
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="wrapper" data-link="home">
	<div id="socialBar">
		<img src="img/ic_mail_outline_white_24px.svg"/>
		<span>bboys@bboys.fi</span>
		<img src="img/ic_phone_white_24px.svg"/>
		<span>0400 949052</span>
		<img src="img/ic_access_time_white_24px.svg"/>
		<span>Mon - Sun 24/7</span>
	</div>

	<div id="filler"></div>

	<center>
		<div id="navBar">
			<img src="img/b-logo.png" />
			<ul>
				<li><a href="#home">Home</a></li>
				<li><a href="#aboutus">About us</a></li>
				<li><a href="#services">Services</a></li>
				<li><a href="#projectscontent">Projects</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div>
	</center>

	<div id="content">
		<div id="slider">
		<h1><b>We create</b><br>beautiful apps</h1>
		<img src="img/slider.jpg"/>
		</div>
	</div>

	<!-- Who we are page -->
	<div class="innerPage" data-link="aboutus">
		<p class="smallTitle">We are</p>
		<h1>B-Boys</h1>
		<div class="smallDivider"></div>

		<p class="plainText">We are B-Boys, the four membered group filled with passion towards full-stack web development.</p>

		<center>
			<div class="personView">
				<div class="avatar"></div>
				<p>Jarmo Sepponen</p>
				<p class="jobTitle">Senior Software Sultan</p>
				<p class="personDescription">I am an enthusiastic developer using my tools and co-workers efficiently.</p>
			</div>

			<div class="personView">
				<div class="avatar"></div>
				<p>Jarmo Sepponen</p>
				<p class="jobTitle">Senior Software Sultan</p>
				<p class="personDescription">I am an enthusiastic developer using my tools and co-workers efficiently.</p>
			</div>

			<div class="personView">
				<div class="avatar"></div>
				<p>Jarmo Sepponen</p>
				<p class="jobTitle">Senior Software Sultan</p>
				<p class="personDescription">I am an enthusiastic developer using my tools and co-workers efficiently.</p>
			</div>

			<div class="personView">
				<div class="avatar"></div>
				<p>Jarmo Sepponen</p>
				<p class="jobTitle">Senior Software Sultan</p>
				<p class="personDescription">I am an enthusiastic developer using my tools and co-workers efficiently.</p>
			</div>
		</center>
	</div>

	<!-- Services page -->
	<div class="innerPage" data-link="services">
		<p class="smallTitle">We provide</p>
		<h1>Services</h1>
		<div class="smallDivider"></div>

		<p class="plainText">Whenever your problem is contacted with web, just mail us! We want to help you.</p>

		<center>
			<div class="serviceView">
			<div class="avatar"><img src="img/ic_insert_invitation_white_24px.svg"/></div>
				<div class="text">
					<h1>Planning</h1>
					<p>Our professional coders will solve your problem in computer languages.</p>
				</div>
			</div>

			<div class="serviceView">
			<div class="avatar"><img src="img/ic_brush_white_24px.svg"/></div>
				<div class="text">
					<h1>Design</h1>
					<p>Our professional coders will solve your problem in computer languages.</p>
				</div>
			</div>

			<div class="serviceView">
			<div class="avatar"><img src="img/ic_code_white_24px.svg"/></div>
				<div class="text">
					<h1>Implementation</h1>
					<p>Our professional coders will solve your problem in computer languages.</p>
				</div>
			</div>
		<center>
	</div>

	<!-- Projects page -->
	<div class="innerPage" data-link="projectscontent">
		<p class="smallTitle">We do</p>
		<h1>Projects</h1>
		<div class="smallDivider"></div>

		<p class="plainText">Wondering what the B-Boys might do? Okay, here we go!</p>

		<div id="projectSlider">
		<div class="previous button" id="btnPrevProject"><img src="img/ic_keyboard_arrow_left_black_24px.svg"/></div>
		<div class="next button" id="btnNextProject"><img src="img/ic_keyboard_arrow_right_black_24px.svg"/></div>

		<div id="scrollWrapper">
			<div id="projects">
				<div class="project" style="background: red">
				<img src="img/glowingdollop.jpg"/>
					<div class="nav">
						<h1>Glowing Dollop</h1>
						<h2>The drug detection learning program</h2>
					</div>
					<p class="learnMore">Learn more</p>
				</div>

				<div class="project" style="background: red">
				<img src="img/img2.jpg"/>
					<div class="nav">
						<h1>Test Project</h1>
						<h2>Some fancy testing</h2>
					</div>
					<p class="learnMore">Learn more</p>
				</div>
			</div>
		</div>

		</div>
	</div>

	<!-- Contact page -->
	<div class="innerPage last" data-link="contact">
		<p class="smallTitle">We listen</p>
		<h1>Contact</h1>
		<div class="smallDivider"></div>


		<p class="plainText">We will do our best for you.</p>

		<form>
			<input class="top" type="text" name="name" placeholder="Name" required/>
			<input type="email" name="email" placeholder="Email" required/>
			<textarea placeholder="Message" name="message"></textarea>
			<input class="bottom" type="submit" value="Send" id="btnFormSubmit">
		</form>
	</div>

	<div id="footer">

	</div>
</div>

</body>

<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/js/script.js"></script>
</html>