<!DOCTYPE html>

<html>

<head>
<title>Invitation not found</title>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="css/invitation404.css"/>
</head>

<body>
	<div id="wrapper">
		<h1>Okay, we just got</h1>
		<fof>404</fof>
		<h1>with your invitation request</h1>
	</div>
</body>
</html>