<!DOCTYPE html>

<html>
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="css/index.css"/>
<link rel="stylesheet" type="text/css" href="css/login-style.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>

<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>

<body>

<div id="wrapper">
	<h1>DevBlog Login</h1>

	<form>
	<input type="text" name="username" placeholder="Username" required class="top" />
	<input id="passwordField" type="password" name="password" placeholder="Password" required />
	<input type="submit" value="Login" name="submit" class="bottom"/>
	</form>

</div>

</body>

<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="js/login.js"></script>
</html>