body {
	
}

form {
	width: 100% !important;
	max-width: 100% !important;
}

input {
	width: 100% !important;
	max-width: 100% !important;
	border: none;
}

h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
}

#inputTitle {
	font-size: 150%;
}

#navBar {
	height: 40px !important;
	line-height: 40px !important;
	box-shadow: none;
	display: block;
	float: none;
	margin: auto;
}

#navBar h1 {
	display: inline-block;
	color: rgb(250, 250, 250);
	float: left;
	margin: 0 20px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.page {
	display: none;
	width: 80% !important;
	max-width: 1000px !important;
	margin: 50px auto;
}

.postWrapper {
	width: 100%;
	max-width: 400px;
	height: 30px;
	line-height: 30px;
	margin: 10px auto;
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(250, 250, 250);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	transition: 0.2s;
}

.postWrapper:hover {
	background-color: rgb(240, 240, 240);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.postWrapper * {
	vertical-align: middle;
	display: inline-block;
}

.postWrapper .info span {
	font-family: 'Open Sans', sans-serif;
	font-size: 120%;
	color: rgb(150, 150, 150);
	margin: 0;
}

.postWrapper * img {
	opacity: 0.3;
	margin-left: 20px;
	margin-right: 5px;
}

.postWrapper .buttons {
	float: right;
}

.postWrapper .buttons img {
	opacity: 0.2;
	transition: 0.2s;
	margin: 0 5px;
}

.postWrapper .buttons img:hover {
	opacity: 0.8;
	cursor: pointer;
}

#formSettings {
	max-width: 400px !important;
	margin: 50px 0;
	position: relative;
	background-color: rgb(250, 250, 250);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#formSettings input {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
}

input[type='button'] {
	margin-top: 20px;
	display: inline-block;
	width: 40% !important;
	margin: 20px 4% 0 4% !important;
	background: rgb(80, 80, 80);
	color: rgb(250, 250, 250);
	border-radius: 5px;
	transition: 0.2s;
}

input[type='button']:hover {
	background-color: rgb(60, 60, 60);
	cursor: pointer;
}

#formSettings img {
	position: absolute;
	top: 0;
	right: 0;
	background-color: orange;
	transform: translate(50%, -50%);
	border-radius: 50%;
	padding: 5px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	transition: 0.2s;
}

#formSettings img:hover {
	cursor: pointer;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#notify {
	font-size: 150%;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	height: 0;
}

.good {
	background: rgb(46, 204, 113);
}

.bad {
	background-color: rgb(217, 30, 24);
}

bold {
	display: inline-block;
	font-family: 'Oswald', sans-serif;
}

.small {
	display: inline-block !important;
	width: auto !important;
}

#inputInviteKey {
	font-size: 150%;
	padding: 0;
}

#btnCreateInvitationKey {
	width: auto !important;
	padding: 0 10px;
	margin: 20px 0 !important;
}

input[type='file'] {
	line-height: 10px;
}
